<!DOCTYPE html>
<html lang="en">
  <head>
    <title>MKS66 Graphics Gallery</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  </head>
  <body>
    <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
	<span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="home.html">Graphics Gallery</a>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
	<ul class="navbar-nav">
	  <li class="nav-item active">
            <a class="nav-link" href="#">Home <!--<span class="sr-only">(current)</span>--></a>
	  </li>
	  {% if profile_link != None %}
	  <li class="nav-item">
            <a class="nav-link" href="/profile/{{profile_link}}">My Profile</a>
	  </li>
	  {% endif %}


	  <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Galleries
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="/gallery">Gallery 1</a>
              <a class="dropdown-item" href="/gallery">Gallery 2</a>
              <a class="dropdown-item" href="/gallery">Gallery 3</a>
	    </div>
	  </li>
	</ul>
	<ul class="navbar-nav ml-auto">
	  {% if profile_link == None %}
	  <li class="nav-item">
            <a class="nav-link" href="/auth">Login</a>
	  </li>
	  {% else %}
	  <li class="nav-item">
	    <a class="nav-link" href="/logout">Logout (signed in as {{profile_link}})</a>
	  </li>
	  {% endif %}
	</ul>
      </div>
    </nav>

    <div class="container">
      <br><br>
      <h2>Welcome to the MKS66 Graphics Gallery!</h2>
      <p>This is the place where students post the images that they have created with the projects they create in the class. Feel free to browse them in the "Galleries" section. If you're taking this class and need to upload an image, you must sign in with your @stuy.edu email.</p>
      <p>The MKS66 class is taught by Mr. Dyrland-Weaver, a well-liked teacher in Stuy's Computer Science Department.</p>
    </div>

    <!-- jQuery first, then Tether, then Bootstrap JS. -->
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
  </body>
</html>
